
.aboutUsWrapper{
    text-align: center;
    margin-inline: auto;
}
.triangleButton{
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: steelblue;
    cursor: pointer;
    
}
/* .divider{
    border: 1px solid grey;
    height: 0px;
    width: 100%;
    margin-top: 20vh;
} */
.ServiceItems {
    /* margin-top:20px; */
    contain: layout;
    position: relative;
}






















 