
.aboutUsWrapper{
    text-align: center;
}
.triangleButton{
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #ED028B;
    cursor: pointer;
    
}
/* .divider{
    border: 1px solid grey;
    height: 0px;
    width: 100%;
    margin-top: 20vh;
} */

/* SECTION 1 CSS */
.AboutUsSection1{
    height: 100vh;
    background-image: url('../../Assets/Images/backgroundAboutUs.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.textWrapper{
    width: 40%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    color: white;
    padding: 20px;
}
.textWrapper > h1 {
    width: fit-content;
    margin: 0px;
    
}
.textWrapper > p {
    text-align: start;
    width: fit-content;
    font-size: 20px;

}
.discoverMoreButton{
    width: fit-content;
    padding: 20px 50px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 10px;
}
.link{
    color: white;
    font-weight: 700;
    text-decoration: none;
    
}
.innerNavWrapper{
    width: fit-content;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    color: #ED028B;
    padding: 20px 40px;
    display: grid;
    justify-content: right;
    border: 3px solid rgb(255, 255, 255, .1);
    background-color: rgb(255, 255, 255,.01);
    backdrop-filter: blur(5px);

}
.innerNavWrapper >div{
    width: fit-content;
    margin-inline: auto;
}
.navList{
    width: fit-content;
    list-style-type: none;
    font-weight: 400;
}
.navList > div {
    width: fit-content;
    margin-block: 15px;
    cursor: pointer;
   
    

}
@keyframes innerNav{
    0% {bottom: 0px;}
    100% {bottom: 5px;}
}
.navList > div:hover {
    position: relative;
    animation-name: innerNav;
    animation-duration: .5s;
    bottom: 5px;
    
}

/* MISSION CSS */
.missionWrapper{
    padding-block: 20vh;
    color: #1c2b33;
    background-color: rgba(85, 65, 72, 0.5);
}
.missionContainer{
    width: 80%;
    margin: 0px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}
.missionContainer > p{
    font-size: 20px;
    font-weight: 400;
    text-align: start;
}



/* FOUNDER CSS */


.founderWrapper{
    padding-block: 20vh;
    position: relative;
    color: white;
    
    
}
.founderInnerWrapper{
    width: 90%;
    margin-inline: auto;
    
}
.founderContainer{
    
    margin-inline: auto;
    display: grid;
    grid-template-columns: auto  min-content;
    text-align: start;
    justify-content: end;
    /* gap: 50px; */
    gap: auto;
    box-shadow: 1px 1px 20px 1px rgba(237, 2, 139, 0.2);
}
.founderContainer> div{
    
}
.founderTextContainer{
    width: 80%;
    color: #1c2b33;
    font-size: 20px;
    text-align: start;
    margin-inline: auto;
}
.founderImageContainer{
width: 100%;
}
.founderImage{
    height: 550px;
}

.founderSubjectContainer{
    position: relative;
}
.founderSubjectLine{
    
    margin-inline: auto;
    color: #ED028B;
    text-shadow: 3px 3px 3px white, 0 0 10px white, 0 0 5px white;
    font-size: 100px;
    border: 2px solid rgba(85, 65, 72, 0.2);
    background-color: rgba(237, 2, 139, 1);
    backdrop-filter: blur(5px);
}
.founderMiniSubject{
    color: #1c2b33;
    font-weight: bold;
    right: 25%;
    position: absolute;
    bottom: 10%;
    font-size: 30px;
}
.founderBottomSvg{
    left: 0px;
    width: 100%;
    position: absolute;
    
    bottom: 3%;
}
.founderTopSvg{
    width: 100%;
    height: 20vh;
    
    background: linear-gradient(#ED028B,rgba(237, 2, 139, 0.3),white);
    margin-bottom: 50px;
  
}
.foundedCard{
    
    width: 80%;
    height: 150px;
    color: #1c2b33;
    position: absolute;
    left: 10%;
    bottom: -5%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    
    box-shadow: 1px 1px 100px 3px rgba(85, 65, 72, 0.5);
    
}
.foundedCard> div{
    font-weight: bold;
    height: fit-content;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;

}

 /* CONTACT US CSS */
 .contactUsWrapper{
    padding-top: 20vh;
    height: 100vh;
    background-color: white;
    /* background-color: black; */
    /* background: linear-gradient(90deg,#554148,#C8AEFF); */
    /* background-image: url('../../Assets/Images/contact-us-background.jpg');
    background-size: 100%;
   background-repeat: no-repeat; */

 }

 .contactContainer{
    color: #1c2b33;
    width: 90%;
    height: fit-content;
    background-color: rgba(200, 174, 255, 0.5);
    backdrop-filter: blur(30px);
    margin-inline:auto ;
    position: relative;
    margin-top: 50px;
    /* top: 10%; */
    /* transform: translateY(-50%); */
    display: grid;
    grid-template-columns: auto 40%;
    gap: 50px;
 }
 .contactContainer >*{
    
    padding-block: 50px;
    padding-inline:30px;
    font-size: 20px;
 }
.contactContainer > form{
    border: 5px solid rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
    color: #1c2b33;
}
.contactContainer > div{
    text-align: start;
}
 .contactTextContainer{

 }
 .typeWriterMessage{
    font-weight: bold;
    font-size: 20px;
    color: #1c2b33;
 }
 .parallelInputs >input{
    max-width: 200px;
    min-width: 100px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    border: none;
    backdrop-filter: blur(5px);
    font-size: 20px;
    color: #1c2b33;
    
 }
 .parallelInputs{
    display: flex;
    gap: 10px;
 }
 .loneInput{
    max-width: 200px;
    min-width: 100px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    border: none;
    backdrop-filter: blur(5px);
    font-size: 20px;
    color: #1c2b33;
 }

 .textArea{
    max-height: 200px;
    min-height: 150px;
    background-color: rgba(255, 255, 255, 0.2);
    resize: none;
    border: none;
    text-decoration: none;
    
    backdrop-filter: blur(5px);
    font-size: 20px;
    color: #1c2b33;
 }
 .textArea:focus{
    resize: none;
    border: none;
    text-decoration: none;
    outline: none;
 }
 .loneInput:focus{
    resize: none;
    border: none;
    text-decoration: none;
    outline: none;
 }

 .parallelInputs >input{
    resize: none;
    border: none;
    text-decoration: none;
    outline: none;
 }
 .buttonSubmit{
    font-size: 20px;
    width: fit-content;
    padding-inline: 60px;
    padding-block:15px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid #ED028B;
    cursor: pointer;
    color: #ED028B;
 }
 .buttonSubmit:hover{
    background-color: #ED028B;
    color: white;
 }
 .contactUsTodayTextWrapper{
    color: #1c2b33;
 }
 .contactUsTodayTextWrapper > h3{
    width: fit-content;
    height: fit-content;
    font-size: 15px;
    background: rgba(200, 174, 255, 0.5);
    padding-block: 5px;
    padding-inline: 20px;
    margin-inline: auto;

 }
 .contactUsTodayTextWrapper >p{
    font-size: 20px;
    opacity: .5;
 }