
.aboutUsWrapper{
    text-align: center;
}
.triangleButton{
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #ED028B;
    cursor: pointer;
    
}
/* .divider{
    border: 1px solid grey;
    height: 0px;
    width: 100%;
    margin-top: 20vh;
} */























 