.Navigation {
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px;
  width: 100%;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  z-index: 1500;
  box-sizing: border-box;
  color: rgb(20 20 23 / 1);
  background-color: white;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
}
.Navigation_innerWrapper {
  display: flex;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.nav_itemWrapper {
  margin-right: 20px;
  font-size: 16px;
}
.nav_itemWrapper:last-child {
  margin-right: 0;
}
.nav_list {
  list-style: none;
  display: flex;
  align-items: center;
}
.Logo_container {
  height: 100px;
}
.Logo_container img {
  height: 100%;
}
