/* MISSION CSS */
.missionWrapper {
  color: #1c2b33;
}
.missionContainer {
  backdrop-filter: blur(5px);
  width: 50%;
}
.missionContainer > p {
  font-size: 20px;
  font-weight: 400;
  text-align: start;
}
.innerWrapper {
  max-width: 1140px;
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
}
.imageWrapper {
  display: flex;
  align-items: center;
  width: calc(50% - 50px);
  margin-right: 50px;
}
.imageWrapper img {
  width: 100%;
}
.header {
  text-align: left;
}
