.SubjectComponent{

    width: max-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text h3{
    color: #000000;
    margin-left: 10px;
}
h2{
    text-align: center;
    justify-content: center;
}
h2 b{
    color: #ED028B;
}

.text{
    margin-left: 10px;
    color:#090909;
}

.image img{
 margin-top: 50px;
width: 250px;
height: 180px;
margin-left: 50px;
}

.text button{
    background-color: #ED028B; 
    border: none;
    color: white;
    padding: 15px 55px;
     margin-left:16px;
    font-size: medium;
    font-weight: 600;
}

.flexDiv{
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  padding: 10px;
}




