.SubjectComponent{

    width: max-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.question:hover{
    overflow: visible;
}

.question{
     font-size: 30px;
    color:#c5de0e;
    font-weight: 700;
    white-space: nowrap;
    
 /* width: 200px;
  border: 1px solid #000000;
  overflow: hidden;
  text-overflow: clip; */
  white-space: nowrap;
  width: 200px;
  border: 1px solid #000000;
  overflow: hidden;
  text-overflow: ellipsis;
    
   
    width: fit-content;
}
.text{
    margin-left: 10px;
}
.image img{
width: 180px;
height: 180px;
}
.text p{
/* text-align: start;
margin-left: 4px; */
}
.text button{
    background-color: #ED028B; /* Primary color */
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.flexDiv{
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  padding: 10px;
}
.smallText{
    background-color: #fff;
    height: 350px;
    width: 700px;
    max-width: 1140px;
   
    align-items: center;
    justify-content: center;


 
    margin-top: 100px;
    text-align: center;
    margin-left: auto; 
}




