.SubjectComponent{

    width: max-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.question:hover{
    overflow: visible;
}

.question{
     font-size: 30px;
    color:#FCFFE7;
    font-weight: 700;
    white-space: nowrap;
 /* width: 200px;
  border: 1px solid #000000;
  overflow: hidden;
  text-overflow: clip; */
  white-space: nowrap;
  width: 200px;
  border: 1px solid #000000;
  overflow: hidden;
  text-overflow: ellipsis;
    
   
    width: fit-content;
}

.smallText{
    font-size: 2rem;
    position: relative;
    bottom: 2rem;
    color: white;
    text-shadow: 1px 1px 2px rgb(46,26,71), 0 0 10px red, 0 0 5px;
    width: fit-content;
    font-style: italic;
    border:  1px solid rgba(255, 0, 0, 0.1);
    background-color: rgb(46,26,71,.1);
    backdrop-filter: blur(3px);
    margin: 0px;
    text-align: center;
    margin-left: auto;
}




