
  
  .section {
    width: 100%;
  }
  
 
  



  
 
  .section {
    /* text-align: center; */
    margin-inline: auto;
        
      margin-bottom: 80px;
  
    width: 80%;
    /* display: grid;
      grid-template-columns: 54.5% 44.5%; */
    color: white;
    /* padding-block: 7rem; */
    justify-content: center;
  }
  
  .message {
    /* padding-top: 5rem; */
    text-align: left;
    margin-bottom: 40px;
    text-overflow: ellipsis;
  }
  .form {
    background-color: #3C4048;
    height: auto;
    color: #000;
    width: 50%;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
    padding: 0.5rem;
  }
  .optional {
    color: black;
    display: flex;
  }
  .uploadsection {
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
    margin-top: 10px;
  }
  .para {
    margin-left: 4px;
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
  }
  .buttonSubmit1 {
    width: 150px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .buttonSubmit2 {
    width: 180px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .buttonSubmit:hover {
    opacity: 0.8;
  }
  .input:focus {
    outline: none;
  }
  
  .paragraphInForm > textarea:focus {
    outline: none;
  }
  .paragraphInForm {
    display: grid;
    width: 100%;
    contain: content;
  }
  .paragraphInForm > label {
    margin-inline: 5px;
  }
  .paragraphInForm > textarea {
    height: 7rem;
    border-radius: 5px;
    background-color: rgba(2, 2, 27, 0.025);
    color: grey;
    font-size: 1rem;
    text-align: start;
    word-wrap: break-word;
    word-break: break-all;
    margin-inline: 5px;
    outline: none;
    resize: none;
    border: none;
    overflow: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .formContent {
    display: grid;
    width: 100%;
    margin-left: 0.3rem;
  }
  .containerWithinForm {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  
  .input {
    height: 2rem;
    border-width: 0;
    border-radius: 5px;
    background-color: rgba(2, 2, 27, 0.025);
    color: grey;
    font-size: 1rem;
    width: 14rem;
    color: black;
  }
  .getQuote {
    text-align: center;
  }
  .formSubtitle {
    text-align: start;
    color: grey;
    opacity: 0.7;
    font-size: 1.15rem;
    margin-top: 0.7rem;
  }
  .formTitle {
    color: rgb(2, 2, 27);
    font-weight: bold;
    opacity: 0.8;
    font-size: 2rem;
  }
 
  
  .subjectLine {
    color: #000;
    padding-top: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
  }
  .storyLine {
    color: #000;
    font-size: 1.25rem;
  }

  