.OurServices{
  margin-bottom: 80px;
}
.wrapper{
  margin-bottom: 80px;
}
.OurServices_header{
  text-align: center;
  margin-bottom: 10px;
}
.outerContainer{
padding: 2px 2px;
  background-color:#85586F ;
  /* height: 400px; */
}
.firstSection{
background-color: #fff;
/* height: 150px; */
width: 400px;
max-width: 1140px;
align-items: center;
justify-content: center;

}
.section1Parent {
    height: 90vh;
    /* position: absolute; */
  margin: 0;
  margin-bottom: 80px;
    
  }
  .innerWrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: section1Animation;
    animation-duration: 2s;
  }
  .mainContainerSection3a{
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 90%;
    
    background-color:transparent;

    align-items: center;
    margin-left: 60px;
    margin-top: 20px;
  }

  .mainContainerSection3b{
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 90%;

    background-color:transparent;
   
    align-items: center;
    margin-left: 60px;
    margin-bottom: 20px;
  }
  .descriptionSection3a {
   text-align: center;
   font-size: 20px;
   padding-bottom: 80px;
  }
  .descriptionSection3b{
    text-align: center;
    font-size: 20px;
    padding-bottom: 80px;
   }

  .firstImagea ,.firstImageb{
    width: 300px;
    height: 200px;
    box-shadow: #D6E4E5;
    border-radius: 4%;
   margin-top: 80px;
    border-color: black;
    align-items: center;
   
  }
  .imageContainera{
    margin-left: 80px;
    border-color: black;
  }
  .imageContainerb{
    margin-right: 80px;
    border-color: black;
  }
.section3Diva{
  width:600px;
  height:200px;
  background:transparent;
  margin-right: 80px;
  align-self: start;
}
.section3Divb{
  width:600px;
  height:200px;
  background:transparent;
  margin-left: 80px;
  align-self: start;
}
.title{
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  text-decoration: none;
}
.section2_image{
  background-size: 100%;
  margin-top: 0;
}
.titleSection3{
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #ED028B;
}

.discoverMoreButton{
  width: fit-content;
  padding: 20px 50px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 10px;
}
.link{
  color: white;
  font-weight: 700;
  text-decoration: none;
  
}
.carouselContainer {
  margin-bottom: 100px;

}
.carouselContainer img{
  width: 250px;
  height: 250px;
}
.listItem {
  border-radius: 3px;
  width: 10rem; 
  margin-bottom: 1.5rem;
}
.headingForRows {
  font-size: 20px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  height: fit-content;
  font-weight: bold;
  color: #554148;
  margin-top: 20px;
}

.OurServices {
  margin-bottom: 50px;
}
.OurServices_textWrapper {
  width: 100%;

  height: 200px;
  background-color: #f6f7f8;
}
.OurServices_cardWrapper {
  max-width: 1140px;
  margin: -100px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
}

.OurServices_innerWrapper {
  text-align: left;
}
.gridWrapper {
  background-color: #f3f7fa;
  padding-bottom: 50px;
}
.gridBuffer {
  width: 100%;
  height: 120px;
  background-color: white;
}
.headerWrapper {
  max-width: 1140px;
  display: block;
  margin: 0 auto;
}
.OurServices_header {
  font-size: 26px;

  color: #1c2b33;
  /* background-color: aqua; */
}
