.firstSection{
  color: #000;
}
.section1Parent {
    height: 100vh;
    position: relative;
  
    overflow: hidden;
  }
  .innerWrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: section1Animation;
    animation-duration: 2s;
  }
  .mainContainerSection3a{
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 90%;
    border-radius: 4%;
    background-color:#D6E4E5;
    margin-bottom: 10px;
    align-items: center;
    margin-left: 60px;
    margin-top: 50px;
  }
  .mainContainerSection3b{
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 90%;
    border-radius: 4%;
    background-color:#EEEEEE;
    margin-bottom: 10px;
    align-items: center;
    margin-left: 60px;
    margin-top: 50px;
  }
  .descriptionSection3a {
   text-align: right;
   font-size: 20px;
   padding-bottom: 80px;
  }
  .descriptionSection3b{
    text-align: left;
    font-size: 20px;
    padding-bottom: 80px;
   }

  .firstImagea ,.firstImageb{
    width: 300px;
    height: 200px;
    box-shadow: #D6E4E5;
    border-radius: 4%;
   
    border-color: black;
    align-items: center;
   
  }
  .imageContainera{
    margin-left: 80px;
    border-color: black;
  }
  .imageContainerb{
    margin-right: 80px;
    border-color: black;
  }
.section3Diva{
  width:600px;
  margin-bottom: 150px;
  height:200px;
  background:transparent;
  margin-right: 80px;
  align-self: start;
}
.section3Divb{
  width:600px;
  margin-bottom: 150px;
  height:200px;
  background:transparent;
  margin-left: 80px;
  align-self: start;
}
.title{
  text-align: center;
  margin-top: 30px;
  text-decoration: none;
}
.titleSection3{
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #ED028B;
  
  
}
.discoverMoreButton{
  width: fit-content;
  padding: 20px 50px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 10px;
}
.link{
  color: white;
  font-weight: 700;
  text-decoration: none;
  
}