.outerContainer{
padding: 2px 2px;
  background-color:#85586F ;
  height: 400px;
}
.firstSection{
  color: #000;
}
.section1Parent {
    height: 100vh;
    position: relative;
  
    
  }
  .innerWrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: section1Animation;
    animation-duration: 2s;
  }
  .mainContainerSection3a{
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 90%;
    
    background-color:transparent;

    align-items: center;
    margin-left: 60px;
    /* margin-top: 50px; */
  }
  .section3_special1{
    background-color:#EEEEEE;
    /* margin-left: 60px;
    height: 640px;
    width: 90%; */
  }
  .section3_special2{
    background-color:#3C4048;
    /* width: 90%;
    height: 640px;
    margin-left: 60px; */
  }
  .mainContainerSection3b{
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 90%;

    background-color:transparent;
   
    align-items: center;
    margin-left: 60px;
    /* margin-bottom: 50px; */
  }
  .descriptionSection3a {
   text-align: right;
   font-size: 20px;
   padding-bottom: 80px;
  }
  .descriptionSection3b{
    text-align: left;
    font-size: 20px;
    padding-bottom: 80px;
   }

  .firstImagea ,.firstImageb{
    width: 300px;
    height: 200px;
    box-shadow: #D6E4E5;
    border-radius: 4%;
   
    border-color: black;
    align-items: center;
   
  }
  .imageContainera{
    margin-left: 80px;
    border-color: black;
  }
  .imageContainerb{
    margin-right: 80px;
    border-color: black;
  }
.section3Diva{
  width:600px;
  margin-bottom: 150px;
  height:200px;
  background:transparent;
  margin-right: 80px;
  align-self: start;
}
.section3Divb{
  width:600px;
  margin-bottom: 150px;
  height:200px;
  background:transparent;
  margin-left: 80px;
  align-self: start;
}
.title{
  text-align: center;
  margin-top: 30px;
  text-decoration: none;
}
.section2_image{
  background-image: url('../../Assets/Images/background3.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
}
.titleSection3{
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #ED028B;
}
.section2_Cards{
  background-color: #D6E4E5;
 opacity: .8;
}
.discoverMoreButton{
  width: fit-content;
  padding: 20px 50px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 10px;
}
.link{
  color: white;
  font-weight: 700;
  text-decoration: none;
  
}