.ServiceItems {
  padding-block: 100px;
}
.items {
}
.eachItem {
  width: fit-content;
  background-color: black;
  height: fit-content;
  margin-inline: auto;
}
.innerWrapper {
  max-width: 1140px;
  display: block;
  margin: 0 auto;
}
