/* SECTION 1 CSS */
.gutter {
  height: 100px;
}
.AboutUsSection1 {
  position: relative;
  height: 60vh;
  background-image: url("../../../Assets/Images/backgroundAboutUs.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.innerSectionWrapper {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
}
.innerSectionWrapper > div {
  
}
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0.8)),
    color-stop(60%, rgba(0, 0, 0, 0.2765))
  );
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.2765) 60%
  );
}
.textWrapper {
  width: 40%;
  color: white;
  padding-inline: 20px;
}
.textWrapper > h1 {
  width: fit-content;
  margin: 0px;
}
.textWrapper > p {
  text-align: start;
  width: fit-content;
  font-size: 20px;
}
.discoverMoreButton {
  width: fit-content;
  padding: 20px 50px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 10px;
}
.link {
  color: white;
  font-weight: 700;
  text-decoration: none;
}
.innerNavWrapper {
  width: fit-content;
  height: fit-content;
  /* position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%; */
  max-width: 200px;
  
  color: white;
  padding: 10px;
  display: grid;
  justify-content: left;
  border: 3px solid rgb(255, 255, 255, 0.1);
  background-color: rgb(255, 255, 255, 0.01);
  backdrop-filter: blur(5px);
}
.navHeader {
  margin: 0;
  margin-bottom: 0px;
}
.innerNavWrapper > div {
  width: fit-content;
  margin-inline: auto;
}
.navList {
  width: fit-content;
  list-style-type: none;
  font-weight: 400; 
}
.navList > div {
  width: fit-content;
  margin-block: 15px;
  cursor: pointer;
}
@keyframes innerNav {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 5px;
  }
}
.navList > div:hover {
  position: relative;
  animation-name: innerNav;
  animation-duration: 0.5s;
  bottom: 5px;
}

.displayImages {
  width: 95%;
  padding-block: 50px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: auto;
}
.wrapper {
  display: flex;
  height: fit-content;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /* background-color: yellow; */

}
.wrapper > div {
  flex: 1;
}
@media screen and (max-width: 400px){
    .textWrapper > h1 {
      font-size: 10px;
    }
    .textWrapper > p {
      font-size: 10px;
    }

    .discoverMoreButton {
      width: fit-content;
      padding: 5px 10px;
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;
      gap:3px;
      font-size: 8px;
    }

    .navHeader {
      font-size: 10px;
    }
    .navList {
      font-size: 10px;
    }
    .AboutUsSection1 {
      height: 20vh;
    }
  }