.listItem {
    border-radius: 3px;
    width: 16rem;
    margin-bottom: 1rem;
  }
  .dotStyle {
    border-style: solid;
    border-width: 2px;
    border-color: #C8AEFF;
    border-radius: 6px;
    width: 10px;
    height: 10px;
    margin-left: 0.5rem;
  }
  .dotStyle:hover {
    background-color: #C8AEFF;
  }
  .imageSliderContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0.5rem;
    border: 3px solid black;
    justify-content: center;
  }
  .dotContainer {
    display: flex;
    margin-block: 5rem;
    margin-top: 1rem;
  }
  .headingForRows {
    font-size: 3rem;
    text-align: center;
    margin: 0px;
    padding: 0px;
    height: fit-content;
    font-weight: bold;
    color: rgb(2, 2, 27);
    margin-top: 1rem;
  }
  .carouselContainer {
    margin-bottom: 6rem;
  }