.section2_Cards {
  width: 100%;
  text-align: center;
}
/* .section2_Cards > .card{
display: inline-block;
} */
.section2_tilte {
  text-align: center;
}

.cards {
  border: 1px solid #ed028b;
  box-shadow: 0 0 5px #000;
  width: 250px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 50px;
}
.cards_image img {
  width: 249px;
}
.cards_header {
  text-align: center;
  margin: 0;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
}
.cards_paragraph {
  text-align: center;
  margin: 0;
  font-size: 12px;
  padding: 10px;
}
