.cardWrapper{
    width: 350px;
    height: 400px;
    
    margin-inline: auto;
    position: relative;

}
.imageBg{
    width: 100%;
    height: 100%;
    opacity: .7;
}
.imageContainer{
    background-color: black;
    width: 100%;
    height: 100%;
}
.textContainer{
    width: fit-content;
    position: absolute;
    bottom: 0%;
    left: 0%;
    text-align: start;
    padding-inline:10px ;
    contain: layout;
    color:#1c2b33;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    font-weight: 400;
}